/*
 * test checkbox API
 * Core API of Software Registrar of Settlement Operations
 *
 * OpenAPI spec version: 0.1.26
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ua.checkbox.j8client.api;

import com.google.gson.reflect.TypeToken;

import ua.checkbox.j8client.ApiCallback;
import ua.checkbox.j8client.ApiClient;
import ua.checkbox.j8client.ApiException;
import ua.checkbox.j8client.ApiResponse;
import ua.checkbox.j8client.Configuration;
import ua.checkbox.j8client.Pair;
import ua.checkbox.j8client.ProgressRequestBody;
import ua.checkbox.j8client.ProgressResponseBody;
import ua.checkbox.j8client.model.CurrencyRateModel;
import ua.checkbox.j8client.model.HTTPValidationError;
import ua.checkbox.j8client.model.OrganizationReceiptConfigSchema;
import ua.checkbox.j8client.model.PaginatedResultGoodModel_;
import ua.checkbox.j8client.model.SetupRatesPayload;
import ua.checkbox.j8client.model.SrsoSchemaGoodSchemaGoodModel;

import java.io.IOException;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class _Api {
    private ApiClient apiClient;

    public _Api() {
        this(Configuration.getDefaultApiClient());
    }

    public _Api(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getCurrencyRateApiV1CurrencyRateCurrencyCodeGet
     * @param currencyCode  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCurrencyRateApiV1CurrencyRateCurrencyCodeGetCall(String currencyCode, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/currency/rate/{currency_code}"
            .replaceAll("\\{" + "currency_code" + "\\}", apiClient.escapeString(currencyCode.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Cashier JWT token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrencyRateApiV1CurrencyRateCurrencyCodeGetValidateBeforeCall(String currencyCode, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'currencyCode' is set
        if (currencyCode == null) {
            throw new ApiException("Missing the required parameter 'currencyCode' when calling getCurrencyRateApiV1CurrencyRateCurrencyCodeGet(Async)");
        }
        
        com.squareup.okhttp.Call call = getCurrencyRateApiV1CurrencyRateCurrencyCodeGetCall(currencyCode, xClientName, xClientVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Currency Rate
     * Отримання встановленого курсу валюти
     * @param currencyCode  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return CurrencyRateModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CurrencyRateModel getCurrencyRateApiV1CurrencyRateCurrencyCodeGet(String currencyCode, String xClientName, String xClientVersion) throws ApiException {
        ApiResponse<CurrencyRateModel> resp = getCurrencyRateApiV1CurrencyRateCurrencyCodeGetWithHttpInfo(currencyCode, xClientName, xClientVersion);
        return resp.getData();
    }

    /**
     * Get Currency Rate
     * Отримання встановленого курсу валюти
     * @param currencyCode  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return ApiResponse&lt;CurrencyRateModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CurrencyRateModel> getCurrencyRateApiV1CurrencyRateCurrencyCodeGetWithHttpInfo(String currencyCode, String xClientName, String xClientVersion) throws ApiException {
        com.squareup.okhttp.Call call = getCurrencyRateApiV1CurrencyRateCurrencyCodeGetValidateBeforeCall(currencyCode, xClientName, xClientVersion, null, null);
        Type localVarReturnType = new TypeToken<CurrencyRateModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Currency Rate (asynchronously)
     * Отримання встановленого курсу валюти
     * @param currencyCode  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCurrencyRateApiV1CurrencyRateCurrencyCodeGetAsync(String currencyCode, String xClientName, String xClientVersion, final ApiCallback<CurrencyRateModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrencyRateApiV1CurrencyRateCurrencyCodeGetValidateBeforeCall(currencyCode, xClientName, xClientVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CurrencyRateModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrencyRatesApiV1CurrencyRateGet
     * @param active  (optional, default to true)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCurrencyRatesApiV1CurrencyRateGetCall(Boolean active, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/currency/rate";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (active != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("active", active));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Cashier JWT token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrencyRatesApiV1CurrencyRateGetValidateBeforeCall(Boolean active, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getCurrencyRatesApiV1CurrencyRateGetCall(active, xClientName, xClientVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Currency Rates
     * Даним методом можна отримати курси валют встановлені для поточної зміни
     * @param active  (optional, default to true)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return List&lt;CurrencyRateModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CurrencyRateModel> getCurrencyRatesApiV1CurrencyRateGet(Boolean active, String xClientName, String xClientVersion) throws ApiException {
        ApiResponse<List<CurrencyRateModel>> resp = getCurrencyRatesApiV1CurrencyRateGetWithHttpInfo(active, xClientName, xClientVersion);
        return resp.getData();
    }

    /**
     * Get Currency Rates
     * Даним методом можна отримати курси валют встановлені для поточної зміни
     * @param active  (optional, default to true)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return ApiResponse&lt;List&lt;CurrencyRateModel&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CurrencyRateModel>> getCurrencyRatesApiV1CurrencyRateGetWithHttpInfo(Boolean active, String xClientName, String xClientVersion) throws ApiException {
        com.squareup.okhttp.Call call = getCurrencyRatesApiV1CurrencyRateGetValidateBeforeCall(active, xClientName, xClientVersion, null, null);
        Type localVarReturnType = new TypeToken<List<CurrencyRateModel>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Currency Rates (asynchronously)
     * Даним методом можна отримати курси валют встановлені для поточної зміни
     * @param active  (optional, default to true)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCurrencyRatesApiV1CurrencyRateGetAsync(Boolean active, String xClientName, String xClientVersion, final ApiCallback<List<CurrencyRateModel>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrencyRatesApiV1CurrencyRateGetValidateBeforeCall(active, xClientName, xClientVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<CurrencyRateModel>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrentOrganizationLogoApiV1OrganizationLogoPngGet
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCurrentOrganizationLogoApiV1OrganizationLogoPngGetCall(String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/organization/logo.png";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Cashier JWT token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrentOrganizationLogoApiV1OrganizationLogoPngGetValidateBeforeCall(String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getCurrentOrganizationLogoApiV1OrganizationLogoPngGetCall(xClientName, xClientVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Current Organization Logo
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object getCurrentOrganizationLogoApiV1OrganizationLogoPngGet(String xClientName, String xClientVersion) throws ApiException {
        ApiResponse<Object> resp = getCurrentOrganizationLogoApiV1OrganizationLogoPngGetWithHttpInfo(xClientName, xClientVersion);
        return resp.getData();
    }

    /**
     * Get Current Organization Logo
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> getCurrentOrganizationLogoApiV1OrganizationLogoPngGetWithHttpInfo(String xClientName, String xClientVersion) throws ApiException {
        com.squareup.okhttp.Call call = getCurrentOrganizationLogoApiV1OrganizationLogoPngGetValidateBeforeCall(xClientName, xClientVersion, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Current Organization Logo (asynchronously)
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCurrentOrganizationLogoApiV1OrganizationLogoPngGetAsync(String xClientName, String xClientVersion, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrentOrganizationLogoApiV1OrganizationLogoPngGetValidateBeforeCall(xClientName, xClientVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGet
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGetCall(String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/organization/text_logo.png";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Cashier JWT token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGetValidateBeforeCall(String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGetCall(xClientName, xClientVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Current Organization Logo
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGet(String xClientName, String xClientVersion) throws ApiException {
        ApiResponse<Object> resp = getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGetWithHttpInfo(xClientName, xClientVersion);
        return resp.getData();
    }

    /**
     * Get Current Organization Logo
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGetWithHttpInfo(String xClientName, String xClientVersion) throws ApiException {
        com.squareup.okhttp.Call call = getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGetValidateBeforeCall(xClientName, xClientVersion, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Current Organization Logo (asynchronously)
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGetAsync(String xClientName, String xClientVersion, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrentOrganizationLogoApiV1OrganizationTextLogoPngGetValidateBeforeCall(xClientName, xClientVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGet
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGetCall(String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/organization/receipt-config";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Cashier JWT token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGetValidateBeforeCall(String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGetCall(xClientName, xClientVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Current Organization Receipt Settings
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return OrganizationReceiptConfigSchema
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OrganizationReceiptConfigSchema getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGet(String xClientName, String xClientVersion) throws ApiException {
        ApiResponse<OrganizationReceiptConfigSchema> resp = getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGetWithHttpInfo(xClientName, xClientVersion);
        return resp.getData();
    }

    /**
     * Get Current Organization Receipt Settings
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return ApiResponse&lt;OrganizationReceiptConfigSchema&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OrganizationReceiptConfigSchema> getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGetWithHttpInfo(String xClientName, String xClientVersion) throws ApiException {
        com.squareup.okhttp.Call call = getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGetValidateBeforeCall(xClientName, xClientVersion, null, null);
        Type localVarReturnType = new TypeToken<OrganizationReceiptConfigSchema>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Current Organization Receipt Settings (asynchronously)
     * 
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGetAsync(String xClientName, String xClientVersion, final ApiCallback<OrganizationReceiptConfigSchema> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrentOrganizationReceiptSettingsApiV1OrganizationReceiptConfigGetValidateBeforeCall(xClientName, xClientVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OrganizationReceiptConfigSchema>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getGoodApiV1GoodsGoodIdGet
     * @param goodId  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getGoodApiV1GoodsGoodIdGetCall(UUID goodId, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/goods/{good_id}"
            .replaceAll("\\{" + "good_id" + "\\}", apiClient.escapeString(goodId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Cashier JWT token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getGoodApiV1GoodsGoodIdGetValidateBeforeCall(UUID goodId, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'goodId' is set
        if (goodId == null) {
            throw new ApiException("Missing the required parameter 'goodId' when calling getGoodApiV1GoodsGoodIdGet(Async)");
        }
        
        com.squareup.okhttp.Call call = getGoodApiV1GoodsGoodIdGetCall(goodId, xClientName, xClientVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Good
     * Перегляд товару із номенклатури
     * @param goodId  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return SrsoSchemaGoodSchemaGoodModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SrsoSchemaGoodSchemaGoodModel getGoodApiV1GoodsGoodIdGet(UUID goodId, String xClientName, String xClientVersion) throws ApiException {
        ApiResponse<SrsoSchemaGoodSchemaGoodModel> resp = getGoodApiV1GoodsGoodIdGetWithHttpInfo(goodId, xClientName, xClientVersion);
        return resp.getData();
    }

    /**
     * Get Good
     * Перегляд товару із номенклатури
     * @param goodId  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return ApiResponse&lt;SrsoSchemaGoodSchemaGoodModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SrsoSchemaGoodSchemaGoodModel> getGoodApiV1GoodsGoodIdGetWithHttpInfo(UUID goodId, String xClientName, String xClientVersion) throws ApiException {
        com.squareup.okhttp.Call call = getGoodApiV1GoodsGoodIdGetValidateBeforeCall(goodId, xClientName, xClientVersion, null, null);
        Type localVarReturnType = new TypeToken<SrsoSchemaGoodSchemaGoodModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Good (asynchronously)
     * Перегляд товару із номенклатури
     * @param goodId  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getGoodApiV1GoodsGoodIdGetAsync(UUID goodId, String xClientName, String xClientVersion, final ApiCallback<SrsoSchemaGoodSchemaGoodModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getGoodApiV1GoodsGoodIdGetValidateBeforeCall(goodId, xClientName, xClientVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SrsoSchemaGoodSchemaGoodModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getGoodsApiV1GoodsGet
     * @param name Пошук за назвою (Буде видалено, використовуйте параметр query) (optional)
     * @param barcode Пошук за штрихкодом (Буде видалено, використовуйте параметр query) (optional)
     * @param query Пошук товарів (optional)
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getGoodsApiV1GoodsGetCall(String name, String barcode, String query, Integer limit, Integer offset, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/goods";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (barcode != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("barcode", barcode));
        if (query != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("query", query));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Cashier JWT token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getGoodsApiV1GoodsGetValidateBeforeCall(String name, String barcode, String query, Integer limit, Integer offset, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getGoodsApiV1GoodsGetCall(name, barcode, query, limit, offset, xClientName, xClientVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Goods
     * Перегляд номенклатури товарів
     * @param name Пошук за назвою (Буде видалено, використовуйте параметр query) (optional)
     * @param barcode Пошук за штрихкодом (Буде видалено, використовуйте параметр query) (optional)
     * @param query Пошук товарів (optional)
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return PaginatedResultGoodModel_
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PaginatedResultGoodModel_ getGoodsApiV1GoodsGet(String name, String barcode, String query, Integer limit, Integer offset, String xClientName, String xClientVersion) throws ApiException {
        ApiResponse<PaginatedResultGoodModel_> resp = getGoodsApiV1GoodsGetWithHttpInfo(name, barcode, query, limit, offset, xClientName, xClientVersion);
        return resp.getData();
    }

    /**
     * Get Goods
     * Перегляд номенклатури товарів
     * @param name Пошук за назвою (Буде видалено, використовуйте параметр query) (optional)
     * @param barcode Пошук за штрихкодом (Буде видалено, використовуйте параметр query) (optional)
     * @param query Пошук товарів (optional)
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return ApiResponse&lt;PaginatedResultGoodModel_&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PaginatedResultGoodModel_> getGoodsApiV1GoodsGetWithHttpInfo(String name, String barcode, String query, Integer limit, Integer offset, String xClientName, String xClientVersion) throws ApiException {
        com.squareup.okhttp.Call call = getGoodsApiV1GoodsGetValidateBeforeCall(name, barcode, query, limit, offset, xClientName, xClientVersion, null, null);
        Type localVarReturnType = new TypeToken<PaginatedResultGoodModel_>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Goods (asynchronously)
     * Перегляд номенклатури товарів
     * @param name Пошук за назвою (Буде видалено, використовуйте параметр query) (optional)
     * @param barcode Пошук за штрихкодом (Буде видалено, використовуйте параметр query) (optional)
     * @param query Пошук товарів (optional)
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getGoodsApiV1GoodsGetAsync(String name, String barcode, String query, Integer limit, Integer offset, String xClientName, String xClientVersion, final ApiCallback<PaginatedResultGoodModel_> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getGoodsApiV1GoodsGetValidateBeforeCall(name, barcode, query, limit, offset, xClientName, xClientVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PaginatedResultGoodModel_>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for setupCurrencyRatesApiV1CurrencyRateSetupPost
     * @param body  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call setupCurrencyRatesApiV1CurrencyRateSetupPostCall(SetupRatesPayload body, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/currency/rate/setup";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Cashier JWT token" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call setupCurrencyRatesApiV1CurrencyRateSetupPostValidateBeforeCall(SetupRatesPayload body, String xClientName, String xClientVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling setupCurrencyRatesApiV1CurrencyRateSetupPost(Async)");
        }
        
        com.squareup.okhttp.Call call = setupCurrencyRatesApiV1CurrencyRateSetupPostCall(body, xClientName, xClientVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Setup Currency Rates
     * Оновлення налаштувань курсів валют для поточної зміни  Підтримується встановлення/оновлення декількох курсів одночасно
     * @param body  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return List&lt;CurrencyRateModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CurrencyRateModel> setupCurrencyRatesApiV1CurrencyRateSetupPost(SetupRatesPayload body, String xClientName, String xClientVersion) throws ApiException {
        ApiResponse<List<CurrencyRateModel>> resp = setupCurrencyRatesApiV1CurrencyRateSetupPostWithHttpInfo(body, xClientName, xClientVersion);
        return resp.getData();
    }

    /**
     * Setup Currency Rates
     * Оновлення налаштувань курсів валют для поточної зміни  Підтримується встановлення/оновлення декількох курсів одночасно
     * @param body  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @return ApiResponse&lt;List&lt;CurrencyRateModel&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CurrencyRateModel>> setupCurrencyRatesApiV1CurrencyRateSetupPostWithHttpInfo(SetupRatesPayload body, String xClientName, String xClientVersion) throws ApiException {
        com.squareup.okhttp.Call call = setupCurrencyRatesApiV1CurrencyRateSetupPostValidateBeforeCall(body, xClientName, xClientVersion, null, null);
        Type localVarReturnType = new TypeToken<List<CurrencyRateModel>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Setup Currency Rates (asynchronously)
     * Оновлення налаштувань курсів валют для поточної зміни  Підтримується встановлення/оновлення декількох курсів одночасно
     * @param body  (required)
     * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад &#x27;My Custom SDK&#x27; (optional)
     * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад &#x27;v1.2.5&#x27; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call setupCurrencyRatesApiV1CurrencyRateSetupPostAsync(SetupRatesPayload body, String xClientName, String xClientVersion, final ApiCallback<List<CurrencyRateModel>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = setupCurrencyRatesApiV1CurrencyRateSetupPostValidateBeforeCall(body, xClientName, xClientVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<CurrencyRateModel>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
