/*
 * test checkbox API
 * Core API of Software Registrar of Settlement Operations
 *
 * OpenAPI spec version: 0.1.26
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ua.checkbox.j8client.api;

import com.google.gson.reflect.TypeToken;

import ua.checkbox.j8client.ApiCallback;
import ua.checkbox.j8client.ApiClient;
import ua.checkbox.j8client.ApiException;
import ua.checkbox.j8client.ApiResponse;
import ua.checkbox.j8client.Configuration;
import ua.checkbox.j8client.Pair;
import ua.checkbox.j8client.ProgressRequestBody;
import ua.checkbox.j8client.ProgressResponseBody;
import ua.checkbox.j8client.model.CalculatedReceiptSellPayload;
import ua.checkbox.j8client.model.CashRegisterDeviceModel;
import ua.checkbox.j8client.model.CashRegisterOfflineTime;
import ua.checkbox.j8client.model.CashierAccessTokenResponseModel;
import ua.checkbox.j8client.model.CashierSignIn;
import ua.checkbox.j8client.model.CashierSignInPinCode;
import ua.checkbox.j8client.model.CashierSignInSignature;
import ua.checkbox.j8client.model.CashierSignatureStatus;
import ua.checkbox.j8client.model.CloseShiftPayload;
import ua.checkbox.j8client.model.CreateShiftPayload;
import ua.checkbox.j8client.model.CurrencyExchangePayload;
import ua.checkbox.j8client.model.DeleteWebhookSchema;
import ua.checkbox.j8client.model.DetailedCashRegisterModel;
import ua.checkbox.j8client.model.DetailedCashierModel;
import ua.checkbox.j8client.model.GoOfflinePayload;
import ua.checkbox.j8client.model.OfflineCodesCountSchema;
import ua.checkbox.j8client.model.OfflineReceiptSellPayload;
import ua.checkbox.j8client.model.OrderModel;
import ua.checkbox.j8client.model.OrderStatus;
import ua.checkbox.j8client.model.OrdersModel;
import ua.checkbox.j8client.model.PaginatedResultDetailedCashRegisterModel_;
import ua.checkbox.j8client.model.PaginatedResultOrderModel_;
import ua.checkbox.j8client.model.PaginatedResultReceiptModel_;
import ua.checkbox.j8client.model.PaginatedResultReportModel_;
import ua.checkbox.j8client.model.PaginatedResultShiftWithCashRegisterModel_;
import ua.checkbox.j8client.model.PaginatedResultShortTransaction_;
import ua.checkbox.j8client.model.ReceiptModel;
import ua.checkbox.j8client.model.ReceiptSellPayload;
import ua.checkbox.j8client.model.ReceiptServicePayload;
import ua.checkbox.j8client.model.ReportModel;
import ua.checkbox.j8client.model.ReportPayload;
import ua.checkbox.j8client.model.ResponseAddOrdersApiV1OrdersPost;
import ua.checkbox.j8client.model.ServiceCurrencyPayload;
import ua.checkbox.j8client.model.SetWebhookPayload;
import ua.checkbox.j8client.model.ShiftStatus;
import ua.checkbox.j8client.model.ShiftWithCashRegisterModel;
import ua.checkbox.j8client.model.ShiftWithCashierAndCashRegister;
import ua.checkbox.j8client.model.ShortCloseShiftPayload;
import ua.checkbox.j8client.model.TaxModel;
import ua.checkbox.j8client.model.TransactionModel;
import ua.checkbox.j8client.model.TransactionStatus;
import ua.checkbox.j8client.model.TransactionType;
import ua.checkbox.j8client.model.UpdateTransactionPayload;
import ua.checkbox.j8client.model.WebhookInfoResponseSchema;
import ua.checkbox.j8client.model.WebhookInfoSchema;

import java.io.File;
import java.io.IOException;
import java.util.UUID;
import java.lang.reflect.Type;
import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DefaultApi {
    private ApiClient apiClient;
 
	private String xClientName = null;
    private String xClientVersion = null;
    
    public DefaultApi(String path) {
        this(Configuration.getDefaultApiClient(), path);
    }

    public DefaultApi(ApiClient apiClient, String path) {
        this.apiClient = apiClient;
        this.apiClient.setBasePath(path);
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public boolean isAutorized() {
    	if (apiClient != null && apiClient.isAutorized())
    		return true;
		return false;
	}

	public String getxClientName() {
 		return xClientName;
 	}
	
	/**
	 * xClientName will added to each next request
	 * @param xClientName Наза клієнту або сервісу що інтегрується з API, наприклад 'My Custom SDK'
	 */
 	public void setxClientName(String xClientName) {
 		this.xClientName = xClientName;
 	}

 	public String getxClientVersion() {
 		return xClientVersion;
 	}
 	
	/**
	 * xClientVersion will added to each next request
	 * @param xClientVersion Номер версії клінту що інтегрується з API, наприклад 'v1.2.5'
	 */
 	public void setxClientVersion(String xClientVersion) {
 		this.xClientVersion = xClientVersion;
 	}

 	
    /**
     * Build call for addExternalReceipt
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addExternalReceiptCall(CalculatedReceiptSellPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/receipts/add-external";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call addExternalReceiptValidateBeforeCall(CalculatedReceiptSellPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addExternalReceipt(Async)");
        }
        
        com.squareup.okhttp.Call call = addExternalReceiptCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add External Receipt
     * Додавання чеку, створеного в зовнішній системі в офлайн режимі, на основі повної інформації про чек. Зовнішня система бере на себе всі розрахунки (знижки, сума, податки...). Транзакційний процесінг зберігає та відправляє чек до ДПС без аналізу та обробки.
     * @param body  (required)
     * @return ReceiptModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ReceiptModel addExternalReceipt(CalculatedReceiptSellPayload body) throws ApiException {
        ApiResponse<ReceiptModel> resp = addExternalReceiptWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Add External Receipt
     * Додавання чеку, створеного в зовнішній системі в офлайн режимі, на основі повної інформації про чек. Зовнішня система бере на себе всі розрахунки (знижки, сума, податки...). Транзакційний процесінг зберігає та відправляє чек до ДПС без аналізу та обробки.
     * @param body  (required)
     * @return ApiResponse&lt;ReceiptModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ReceiptModel> addExternalReceiptWithHttpInfo(CalculatedReceiptSellPayload body) throws ApiException {
        com.squareup.okhttp.Call call = addExternalReceiptValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add External Receipt (asynchronously)
     * Додавання чеку, створеного в зовнішній системі в офлайн режимі, на основі повної інформації про чек. Зовнішня система бере на себе всі розрахунки (знижки, сума, податки...). Транзакційний процесінг зберігає та відправляє чек до ДПС без аналізу та обробки.
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addExternalReceiptAsync(CalculatedReceiptSellPayload body, final ApiCallback<ReceiptModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addExternalReceiptValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addExternalReport
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addExternalReportCall(ReportPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/reports/add-external";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call addExternalReportValidateBeforeCall(ReportPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addExternalReport(Async)");
        }
        
        com.squareup.okhttp.Call call = addExternalReportCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add External Report
     * Додавання звіту з зовнішньої системи
     * @param body  (required)
     * @return ReportModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ReportModel addExternalReport(ReportPayload body) throws ApiException {
        ApiResponse<ReportModel> resp = addExternalReportWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Add External Report
     * Додавання звіту з зовнішньої системи
     * @param body  (required)
     * @return ApiResponse&lt;ReportModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ReportModel> addExternalReportWithHttpInfo(ReportPayload body) throws ApiException {
        com.squareup.okhttp.Call call = addExternalReportValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ReportModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add External Report (asynchronously)
     * Додавання звіту з зовнішньої системи
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addExternalReportAsync(ReportPayload body, final ApiCallback<ReportModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addExternalReportValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ReportModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addOrdersApiV1OrdersPost
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addOrdersApiV1OrdersPostCall(OrdersModel body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call addOrdersApiV1OrdersPostValidateBeforeCall(OrdersModel body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addOrdersApiV1OrdersPost(Async)");
        }
        
        com.squareup.okhttp.Call call = addOrdersApiV1OrdersPostCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add Orders
     * Використовуйте цей метод щоб додати замовлення, повертає список **тільки доданих** замовлень, замовлення що вже зареєстровані в системі будуть проігноровані  &#x60;order_id&#x60; - Ім&#x27;я замовлення, яке відображається в додатку
     * @param body  (required)
     * @return ResponseAddOrdersApiV1OrdersPost
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseAddOrdersApiV1OrdersPost addOrdersApiV1OrdersPost(OrdersModel body) throws ApiException {
        ApiResponse<ResponseAddOrdersApiV1OrdersPost> resp = addOrdersApiV1OrdersPostWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Add Orders
     * Використовуйте цей метод щоб додати замовлення, повертає список **тільки доданих** замовлень, замовлення що вже зареєстровані в системі будуть проігноровані  &#x60;order_id&#x60; - Ім&#x27;я замовлення, яке відображається в додатку
     * @param body  (required)
     * @return ApiResponse&lt;ResponseAddOrdersApiV1OrdersPost&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseAddOrdersApiV1OrdersPost> addOrdersApiV1OrdersPostWithHttpInfo(OrdersModel body) throws ApiException {
        com.squareup.okhttp.Call call = addOrdersApiV1OrdersPostValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ResponseAddOrdersApiV1OrdersPost>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add Orders (asynchronously)
     * Використовуйте цей метод щоб додати замовлення, повертає список **тільки доданих** замовлень, замовлення що вже зареєстровані в системі будуть проігноровані  &#x60;order_id&#x60; - Ім&#x27;я замовлення, яке відображається в додатку
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addOrdersApiV1OrdersPostAsync(OrdersModel body, final ApiCallback<ResponseAddOrdersApiV1OrdersPost> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addOrdersApiV1OrdersPostValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseAddOrdersApiV1OrdersPost>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for askOfflineCodes
     * @param xLicenseKey  (required)
     * @param count Number of codes to get (optional, default to 150)
     * @param sync  (optional, default to false)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call askOfflineCodesCall(String xLicenseKey, Integer count, Boolean sync, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/cash-registers/ask-offline-codes";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (count != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("count", count));
        if (sync != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sync", sync));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));
        if (xLicenseKey != null)
        localVarHeaderParams.put("X-License-Key", apiClient.parameterToString(xLicenseKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call askOfflineCodesValidateBeforeCall(String xLicenseKey, Integer count, Boolean sync, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'xLicenseKey' is set
        if (xLicenseKey == null) {
            throw new ApiException("Missing the required parameter 'xLicenseKey' when calling askOfflineCodes(Async)");
        }
        
        com.squareup.okhttp.Call call = askOfflineCodesCall(xLicenseKey, count, sync, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Ask Offline Codes
     * Асинхронний або синхронний (керується параметром sync - значення False (default) або True) запит на оновлення списку фіскальних номерів для офлайн режиму для вказаного касового реєстратора. Ключ ліцензії реєстратора передається в заголовку X-License-Key. В результаті виклику ініціюється запит за номерами до серверу ДПС. Отримані номери зберігаються в базі транзакційного процесингу, і стають доступними для отримання методом get-offline-codes. Важливо - номер перестає повертатися сервером ДПС (вважається \&quot;використаним\&quot;) лише після відправки до ДПС чеку з цим номером. До того ДПС повертає цей номер при кожному виклику. Наприклад, зробивши до ДПС перший запит на 100 номерів, отримаємо 100 нових вільних фіскальних номерів для відповідного реєстратора. Але зробивши після цього запит ще на 200 номерів, отримаємо 100 тих самих номерів та ще 100 наступних за ними. Виклик можна робити лише тоді, коли касовий реєстратор знаходиться в онлайн режимі.
     * @param xLicenseKey  (required)
     * @param count Number of codes to get (optional, default to 150)
     * @param sync  (optional, default to false)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void askOfflineCodes(String xLicenseKey, Integer count, Boolean sync) throws ApiException {
        askOfflineCodesWithHttpInfo(xLicenseKey, count, sync);
    }

    /**
     * Ask Offline Codes
     * Асинхронний або синхронний (керується параметром sync - значення False (default) або True) запит на оновлення списку фіскальних номерів для офлайн режиму для вказаного касового реєстратора. Ключ ліцензії реєстратора передається в заголовку X-License-Key. В результаті виклику ініціюється запит за номерами до серверу ДПС. Отримані номери зберігаються в базі транзакційного процесингу, і стають доступними для отримання методом get-offline-codes. Важливо - номер перестає повертатися сервером ДПС (вважається \&quot;використаним\&quot;) лише після відправки до ДПС чеку з цим номером. До того ДПС повертає цей номер при кожному виклику. Наприклад, зробивши до ДПС перший запит на 100 номерів, отримаємо 100 нових вільних фіскальних номерів для відповідного реєстратора. Але зробивши після цього запит ще на 200 номерів, отримаємо 100 тих самих номерів та ще 100 наступних за ними. Виклик можна робити лише тоді, коли касовий реєстратор знаходиться в онлайн режимі.
     * @param xLicenseKey  (required)
     * @param count Number of codes to get (optional, default to 150)
     * @param sync  (optional, default to false)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> askOfflineCodesWithHttpInfo(String xLicenseKey, Integer count, Boolean sync) throws ApiException {
        com.squareup.okhttp.Call call = askOfflineCodesValidateBeforeCall(xLicenseKey, count, sync, null, null);
        return apiClient.execute(call);
    }

    /**
     * Ask Offline Codes (asynchronously)
     * Асинхронний або синхронний (керується параметром sync - значення False (default) або True) запит на оновлення списку фіскальних номерів для офлайн режиму для вказаного касового реєстратора. Ключ ліцензії реєстратора передається в заголовку X-License-Key. В результаті виклику ініціюється запит за номерами до серверу ДПС. Отримані номери зберігаються в базі транзакційного процесингу, і стають доступними для отримання методом get-offline-codes. Важливо - номер перестає повертатися сервером ДПС (вважається \&quot;використаним\&quot;) лише після відправки до ДПС чеку з цим номером. До того ДПС повертає цей номер при кожному виклику. Наприклад, зробивши до ДПС перший запит на 100 номерів, отримаємо 100 нових вільних фіскальних номерів для відповідного реєстратора. Але зробивши після цього запит ще на 200 номерів, отримаємо 100 тих самих номерів та ще 100 наступних за ними. Виклик можна робити лише тоді, коли касовий реєстратор знаходиться в онлайн режимі.
     * @param xLicenseKey  (required)
     * @param count Number of codes to get (optional, default to 150)
     * @param sync  (optional, default to false)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call askOfflineCodesAsync(String xLicenseKey, Integer count, Boolean sync, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = askOfflineCodesValidateBeforeCall(xLicenseKey, count, sync, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for cancelOrderApiV1OrdersOrderIdPatch
     * @param orderId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelOrderApiV1OrdersOrderIdPatchCall(UUID orderId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/orders/{order_id}"
            .replaceAll("\\{" + "order_id" + "\\}", apiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call cancelOrderApiV1OrdersOrderIdPatchValidateBeforeCall(UUID orderId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling cancelOrderApiV1OrdersOrderIdPatch(Async)");
        }
        
        com.squareup.okhttp.Call call = cancelOrderApiV1OrdersOrderIdPatchCall(orderId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel Order
     * Використовуйте цей метод, щоб перевести статус замовлення з **PENDING** в **CANCELLED**
     * @param orderId  (required)
     * @return OrderModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OrderModel cancelOrderApiV1OrdersOrderIdPatch(UUID orderId) throws ApiException {
        ApiResponse<OrderModel> resp = cancelOrderApiV1OrdersOrderIdPatchWithHttpInfo(orderId);
        return resp.getData();
    }

    /**
     * Cancel Order
     * Використовуйте цей метод, щоб перевести статус замовлення з **PENDING** в **CANCELLED**
     * @param orderId  (required)
     * @return ApiResponse&lt;OrderModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OrderModel> cancelOrderApiV1OrdersOrderIdPatchWithHttpInfo(UUID orderId) throws ApiException {
        com.squareup.okhttp.Call call = cancelOrderApiV1OrdersOrderIdPatchValidateBeforeCall(orderId, null, null);
        Type localVarReturnType = new TypeToken<OrderModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel Order (asynchronously)
     * Використовуйте цей метод, щоб перевести статус замовлення з **PENDING** в **CANCELLED**
     * @param orderId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelOrderApiV1OrdersOrderIdPatchAsync(UUID orderId, final ApiCallback<OrderModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelOrderApiV1OrdersOrderIdPatchValidateBeforeCall(orderId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OrderModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for checkSignature
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call checkSignatureCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/cashier/check-signature";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call checkSignatureValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = checkSignatureCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Check Signature
     * 
     * @return CashierSignatureStatus
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CashierSignatureStatus checkSignature() throws ApiException {
        ApiResponse<CashierSignatureStatus> resp = checkSignatureWithHttpInfo();
        return resp.getData();
    }

    /**
     * Check Signature
     * 
     * @return ApiResponse&lt;CashierSignatureStatus&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CashierSignatureStatus> checkSignatureWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = checkSignatureValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<CashierSignatureStatus>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Check Signature (asynchronously)
     * 
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call checkSignatureAsync(final ApiCallback<CashierSignatureStatus> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = checkSignatureValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CashierSignatureStatus>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for closeShift
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call closeShiftCall(CloseShiftPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/shifts/close";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    private com.squareup.okhttp.Call closeShift(CloseShiftPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = closeShiftCall(body, progressListener, progressRequestListener);
        return call;
        
    }

    /**
     * Close Shift
     * Створення Z-Звіту та закриття поточної зміни користувачем (касиром).  Стан зміни встановлюється як \&quot;CLOSING\&quot; та створюється транзакція закриття зміни (поле \&quot;closing_transaction\&quot;).  Для переведення зміни в статус CLOSED необхідно щоб транзакція була підписана за допомогою КЕП та доставлена в ДПС.  Статус зміни можна відслідковувати за допомогою GET запиту по шляху /api/v1/shifts/{shift_id}, де {shift_id} - ідентифікатор зміни.  Після закриття зміни в її рамках більше не можливо буде виконувати дії. Для продовження роботи потрібно створити нову зміну.  Опціонально Z-Звіт може бути сформований на стороні клієнта та переданий в тілі цього запиту  &lt;b&gt;Увага!&lt;/b&gt; При формуванні звіту на стороні клієнту перевірка коректності розрахунку оборотів та сум продажу не виконується!
     * @param body  (optional)
     * @return ShiftWithCashierAndCashRegister
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ShiftWithCashierAndCashRegister closeShift(CloseShiftPayload body) throws ApiException {
        ApiResponse<ShiftWithCashierAndCashRegister> resp = closeShiftWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Close Shift
     * Створення Z-Звіту та закриття поточної зміни користувачем (касиром).  Стан зміни встановлюється як \&quot;CLOSING\&quot; та створюється транзакція закриття зміни (поле \&quot;closing_transaction\&quot;).  Для переведення зміни в статус CLOSED необхідно щоб транзакція була підписана за допомогою КЕП та доставлена в ДПС.  Статус зміни можна відслідковувати за допомогою GET запиту по шляху /api/v1/shifts/{shift_id}, де {shift_id} - ідентифікатор зміни.  Після закриття зміни в її рамках більше не можливо буде виконувати дії. Для продовження роботи потрібно створити нову зміну.  Опціонально Z-Звіт може бути сформований на стороні клієнта та переданий в тілі цього запиту  &lt;b&gt;Увага!&lt;/b&gt; При формуванні звіту на стороні клієнту перевірка коректності розрахунку оборотів та сум продажу не виконується!
     * @param body  (optional)
     * @return ApiResponse&lt;ShiftWithCashierAndCashRegister&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ShiftWithCashierAndCashRegister> closeShiftWithHttpInfo(CloseShiftPayload body) throws ApiException {
        com.squareup.okhttp.Call call = closeShift(body, null, null);
        Type localVarReturnType = new TypeToken<ShiftWithCashierAndCashRegister>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Close Shift (asynchronously)
     * Створення Z-Звіту та закриття поточної зміни користувачем (касиром).  Стан зміни встановлюється як \&quot;CLOSING\&quot; та створюється транзакція закриття зміни (поле \&quot;closing_transaction\&quot;).  Для переведення зміни в статус CLOSED необхідно щоб транзакція була підписана за допомогою КЕП та доставлена в ДПС.  Статус зміни можна відслідковувати за допомогою GET запиту по шляху /api/v1/shifts/{shift_id}, де {shift_id} - ідентифікатор зміни.  Після закриття зміни в її рамках більше не можливо буде виконувати дії. Для продовження роботи потрібно створити нову зміну.  Опціонально Z-Звіт може бути сформований на стороні клієнта та переданий в тілі цього запиту  &lt;b&gt;Увага!&lt;/b&gt; При формуванні звіту на стороні клієнту перевірка коректності розрахунку оборотів та сум продажу не виконується!
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call closeShiftAsync(CloseShiftPayload body, final ApiCallback<ShiftWithCashierAndCashRegister> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = closeShift(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ShiftWithCashierAndCashRegister>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for closeShiftBySeniorCashier
     * @param xLicenseKey  (required)
     * @param shiftId  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call closeShiftBySeniorCashierCall(String xLicenseKey, UUID shiftId, ShortCloseShiftPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/shifts/{shift_id}/close"
            .replaceAll("\\{" + "shift_id" + "\\}", apiClient.escapeString(shiftId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));
        if (xLicenseKey != null)
        localVarHeaderParams.put("X-License-Key", apiClient.parameterToString(xLicenseKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call closeShiftBySeniorCashierValidateBeforeCall(String xLicenseKey, UUID shiftId, ShortCloseShiftPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'xLicenseKey' is set
        if (xLicenseKey == null) {
            throw new ApiException("Missing the required parameter 'xLicenseKey' when calling closeShiftBySeniorCashier(Async)");
        }
        // verify the required parameter 'shiftId' is set
        if (shiftId == null) {
            throw new ApiException("Missing the required parameter 'shiftId' when calling closeShiftBySeniorCashier(Async)");
        }
        
        com.squareup.okhttp.Call call = closeShiftBySeniorCashierCall(xLicenseKey, shiftId, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Close Shift By Senior Cashier
     * Закриття зміни старшим касиром
     * @param xLicenseKey  (required)
     * @param shiftId  (required)
     * @param body  (optional)
     * @return ShiftWithCashierAndCashRegister
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ShiftWithCashierAndCashRegister closeShiftBySeniorCashier(String xLicenseKey, UUID shiftId, ShortCloseShiftPayload body) throws ApiException {
        ApiResponse<ShiftWithCashierAndCashRegister> resp = closeShiftBySeniorCashierWithHttpInfo(xLicenseKey, shiftId, body);
        return resp.getData();
    }

    /**
     * Close Shift By Senior Cashier
     * Закриття зміни старшим касиром
     * @param xLicenseKey  (required)
     * @param shiftId  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;ShiftWithCashierAndCashRegister&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ShiftWithCashierAndCashRegister> closeShiftBySeniorCashierWithHttpInfo(String xLicenseKey, UUID shiftId, ShortCloseShiftPayload body) throws ApiException {
        com.squareup.okhttp.Call call = closeShiftBySeniorCashierValidateBeforeCall(xLicenseKey, shiftId, body, null, null);
        Type localVarReturnType = new TypeToken<ShiftWithCashierAndCashRegister>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Close Shift By Senior Cashier (asynchronously)
     * Закриття зміни старшим касиром
     * @param xLicenseKey  (required)
     * @param shiftId  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call closeShiftBySeniorCashierAsync(String xLicenseKey, UUID shiftId, ShortCloseShiftPayload body, final ApiCallback<ShiftWithCashierAndCashRegister> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = closeShiftBySeniorCashierValidateBeforeCall(xLicenseKey, shiftId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ShiftWithCashierAndCashRegister>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createOfflineReceipt
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOfflineReceiptCall(OfflineReceiptSellPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/receipts/sell-offline";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call createOfflineReceiptValidateBeforeCall(OfflineReceiptSellPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createOfflineReceipt(Async)");
        }
        
        com.squareup.okhttp.Call call = createOfflineReceiptCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Offline Receipt
     * Додавання чеку, створеного в зовнішній системі в офлайн режимі, в базу ТП для подальшої відправки в ДПС.
     * @param body  (required)
     * @return ReceiptModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ReceiptModel createOfflineReceipt(OfflineReceiptSellPayload body) throws ApiException {
        ApiResponse<ReceiptModel> resp = createOfflineReceiptWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create Offline Receipt
     * Додавання чеку, створеного в зовнішній системі в офлайн режимі, в базу ТП для подальшої відправки в ДПС.
     * @param body  (required)
     * @return ApiResponse&lt;ReceiptModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ReceiptModel> createOfflineReceiptWithHttpInfo(OfflineReceiptSellPayload body) throws ApiException {
        com.squareup.okhttp.Call call = createOfflineReceiptValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Offline Receipt (asynchronously)
     * Додавання чеку, створеного в зовнішній системі в офлайн режимі, в базу ТП для подальшої відправки в ДПС.
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOfflineReceiptAsync(OfflineReceiptSellPayload body, final ApiCallback<ReceiptModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOfflineReceiptValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createReceipt
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createReceiptCall(ReceiptSellPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/receipts/sell";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call createReceiptSell(ReceiptSellPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createReceipt(Async)");
        }
        
        com.squareup.okhttp.Call call = createReceiptCall(body, progressListener, progressRequestListener);
        return call;
        
    }

    /**
     * Create Receipt
     * Створення чеку продажу/повернення, його фіскалізація та доставка клієнту по email.
     * @param body  (required)
     * @return ReceiptModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ReceiptModel createReceiptSell(ReceiptSellPayload body) throws ApiException {
        ApiResponse<ReceiptModel> resp = createReceiptSellWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create Receipt
     * Створення чеку продажу/повернення, його фіскалізація та доставка клієнту по email.
     * @param body  (required)
     * @return ApiResponse&lt;ReceiptModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ReceiptModel> createReceiptSellWithHttpInfo(ReceiptSellPayload body) throws ApiException {
        com.squareup.okhttp.Call call = createReceiptSell(body, null, null);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Receipt (asynchronously)
     * Створення чеку продажу/повернення, його фіскалізація та доставка клієнту по email.
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createReceiptAsync(ReceiptSellPayload body, final ApiCallback<ReceiptModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createReceiptSell(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createServiceCurrencyReceipt
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createServiceCurrencyReceiptCall(ServiceCurrencyPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/receipts/service-currency";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call createServiceCurrencyReceiptValidateBeforeCall(ServiceCurrencyPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createServiceCurrencyReceipt(Async)");
        }
        
        com.squareup.okhttp.Call call = createServiceCurrencyReceiptCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Service Currency Receipt
     * Створення сервісного чеку внесення або винесення коштів.  Призначено тільки для кас обміну валют.
     * @param body  (required)
     * @return ReceiptModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ReceiptModel createServiceCurrencyReceipt(ServiceCurrencyPayload body) throws ApiException {
        ApiResponse<ReceiptModel> resp = createServiceCurrencyReceiptWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create Service Currency Receipt
     * Створення сервісного чеку внесення або винесення коштів.  Призначено тільки для кас обміну валют.
     * @param body  (required)
     * @return ApiResponse&lt;ReceiptModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ReceiptModel> createServiceCurrencyReceiptWithHttpInfo(ServiceCurrencyPayload body) throws ApiException {
        com.squareup.okhttp.Call call = createServiceCurrencyReceiptValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Service Currency Receipt (asynchronously)
     * Створення сервісного чеку внесення або винесення коштів.  Призначено тільки для кас обміну валют.
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createServiceCurrencyReceiptAsync(ServiceCurrencyPayload body, final ApiCallback<ReceiptModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createServiceCurrencyReceiptValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createServiceReceipt
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createServiceReceiptCall(ReceiptServicePayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/receipts/service";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call createServiceReceiptValidateBeforeCall(ReceiptServicePayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createServiceReceipt(Async)");
        }
        
        com.squareup.okhttp.Call call = createServiceReceiptCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Service Receipt
     * Створення сервісного чеку внесення або винесення коштів  Для чеку сума винесення повинна бути вказана зі знаком мінус, а для внесення зі знаком плюс.
     * @param body  (required)
     * @return ReceiptModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ReceiptModel createServiceReceipt(ReceiptServicePayload body) throws ApiException {
        ApiResponse<ReceiptModel> resp = createServiceReceiptWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create Service Receipt
     * Створення сервісного чеку внесення або винесення коштів  Для чеку сума винесення повинна бути вказана зі знаком мінус, а для внесення зі знаком плюс.
     * @param body  (required)
     * @return ApiResponse&lt;ReceiptModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ReceiptModel> createServiceReceiptWithHttpInfo(ReceiptServicePayload body) throws ApiException {
        com.squareup.okhttp.Call call = createServiceReceiptValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Service Receipt (asynchronously)
     * Створення сервісного чеку внесення або винесення коштів  Для чеку сума винесення повинна бути вказана зі знаком мінус, а для внесення зі знаком плюс.
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createServiceReceiptAsync(ReceiptServicePayload body, final ApiCallback<ReceiptModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createServiceReceiptValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ReceiptModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createShift
     * @param xLicenseKey  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createShiftCall(String xLicenseKey, CreateShiftPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/v1/shifts";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));
        if (xLicenseKey != null)
        localVarHeaderParams.put("X-License-Key", apiClient.parameterToString(xLicenseKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call createShiftValidateBeforeCall(String xLicenseKey, CreateShiftPayload body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'xLicenseKey' is set
        if (xLicenseKey == null) {
            throw new ApiException("Missing the required parameter 'xLicenseKey' when calling createShift(Async)");
        }
        
        com.squareup.okhttp.Call call = createShiftCall(xLicenseKey, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Shift
     * Відкриття нової зміни касиром.  Для створення зміни необхідно вказати ключ ліцензії конкретного пРРО розташованого в тій же торговій точці, що знаходиться касир.  Створюється об&#x27;єкт зміни в стані \&quot;CREATED\&quot; та транзакція відкриття зміни (поле \&quot;initial_transaction\&quot;).  Для переведення зміни в статус OPENED необхідно щоб транзакція була підписана за допомогою КЕП та доставлена в ДПС, це як правило триває декілька секунд.  Після створення запиту необхідно відслідковувати статус зміни доки він не змінить на OPENED або CLOSED.  Статус зміни можна відслідковувати за допомогою GET запиту по шляху /api/v1/shifts/{shift_id}, де {shift_id} - ідентифікатор зміни. Або /api/v1/cashier/shift  У разі, якщо зміна перейшла у статус CLOSED - це значить, що зміна не може бути відкрита. Деталізація причини відмови у створенні зміни знаходиться в полі initial_transaciton.  Після того як робочу зміну буде успішно відкрито можна її закрити або створювати чеки.
     * @param xLicenseKey  (required)
     * @param body  (optional)
     * @return ShiftWithCashierAndCashRegister
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ShiftWithCashierAndCashRegister openShift(String xLicenseKey, CreateShiftPayload body) throws ApiException {
        ApiResponse<ShiftWithCashierAndCashRegister> resp = openShiftWithHttpInfo(xLicenseKey, body);
        return resp.getData();
    }

    /**
     * Create Shift
     * Відкриття нової зміни касиром.  Для створення зміни необхідно вказати ключ ліцензії конкретного пРРО розташованого в тій же торговій точці, що знаходиться касир.  Створюється об&#x27;єкт зміни в стані \&quot;CREATED\&quot; та транзакція відкриття зміни (поле \&quot;initial_transaction\&quot;).  Для переведення зміни в статус OPENED необхідно щоб транзакція була підписана за допомогою КЕП та доставлена в ДПС, це як правило триває декілька секунд.  Після створення запиту необхідно відслідковувати статус зміни доки він не змінить на OPENED або CLOSED.  Статус зміни можна відслідковувати за допомогою GET запиту по шляху /api/v1/shifts/{shift_id}, де {shift_id} - ідентифікатор зміни. Або /api/v1/cashier/shift  У разі, якщо зміна перейшла у статус CLOSED - це значить, що зміна не може бути відкрита. Деталізація причини відмови у створенні зміни знаходиться в полі initial_transaciton.  Після того як робочу зміну буде успішно відкрито можна її закрити або створювати чеки.
     * @param xLicenseKey  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;ShiftWithCashierAndCashRegister&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ShiftWithCashierAndCashRegister> openShiftWithHttpInfo(String xLicenseKey, CreateShiftPayload body) throws ApiException {
        com.squareup.okhttp.Call call = createShiftValidateBeforeCall(xLicenseKey, body, null, null);
        Type localVarReturnType = new TypeToken<ShiftWithCashierAndCashRegister>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Shift (asynchronously)
     * Відкриття нової зміни касиром.  Для створення зміни необхідно вказати ключ ліцензії конкретного пРРО розташованого в тій же торговій точці, що знаходиться касир.  Створюється об&#x27;єкт зміни в стані \&quot;CREATED\&quot; та транзакція відкриття зміни (поле \&quot;initial_transaction\&quot;).  Для переведення зміни в статус OPENED необхідно щоб транзакція була підписана за допомогою КЕП та доставлена в ДПС, це як правило триває декілька секунд.  Після створення запиту необхідно відслідковувати статус зміни доки він не змінить на OPENED або CLOSED.  Статус зміни можна відслідковувати за допомогою GET запиту по шляху /api/v1/shifts/{shift_id}, де {shift_id} - ідентифікатор зміни. Або /api/v1/cashier/shift  У разі, якщо зміна перейшла у статус CLOSED - це значить, що зміна не може бути відкрита. Деталізація причини відмови у створенні зміни знаходиться в полі initial_transaciton.  Після того як робочу зміну буде успішно відкрито можна її закрити або створювати чеки.
     * @param xLicenseKey  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createShiftAsync(String xLicenseKey, CreateShiftPayload body, final ApiCallback<ShiftWithCashierAndCashRegister> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createShiftValidateBeforeCall(xLicenseKey, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ShiftWithCashierAndCashRegister>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createXReport
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createXReportCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v1/reports";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xClientName != null)
        localVarHeaderParams.put("X-Client-Name", apiClient.parameterToString(xClientName));
        if (xClientVersion != null)
        localVarHeaderParams.put("X-Client-Version", apiClient.parameterToString(xClientVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { apiClient.getCashierToken() };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    private com.squareup.okhttp.Call createXReportValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createXReportCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create X Report
     * Генерація X звіту
     * @return ReportModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ReportModel createXReport() throws ApiException {
        ApiResponse<ReportModel> resp = createXReportWithHttpInfo();
        return resp.getData();
    }

    /**
     * Create X Report
     * Генерація X звіту
     * @return ApiResponse&lt;ReportModel&gt;
[...]
